body{
    width:100%;   
    height:100vh;   
    font-family:'Roboto', sans-serif;
    background: linear-gradient(to right, #008b6f3b, #31ad9462, #aad1c967,#dff5f057 ),url("../assets/img/miachalten.jpg");
    background-size:cover;
    background-position:center; 
   
}

