@import url("https://fonts.googleapis.com/css2? family= Roboto:wght@300 & display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  background: linear-gradient(to right, rgba(0, 139, 111, 0.231372549), rgba(49, 173, 148, 0.3843137255), rgba(170, 209, 201, 0.4039215686), rgba(223, 245, 240, 0.3411764706)), url("../assets/img/miachalten.jpg");
  background-size: cover;
  background-position: center;
}

.contenedorLogo {
  width: 100px;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 3px;
}

.encabezado {
  background-color: rgba(0, 139, 111, 0.5333333333);
  display: flex;
  flex-direction: row;
  flex-wrap: inherit;
  justify-content: space-between;
  align-items: center;
}
.encabezado .deco {
  text-decoration: none;
  list-style: none;
  font-weight: bold black;
}

/*.encabezado{
    background-color: #008b6f88;
    display: $display-flex;
    flex-direction: row;
    flex-wrap: inherit;
    justify-content:space-between;
    align-items:center;



}
.deco{
    text-decoration: none;
    list-style:none;
    font-weight:$ancho-texto $color-negro;  

}*/
.piePagina {
  bottom: 0;
  left: 0;
  height: 4rem;
  width: 100%;
}

.alinear {
  text-align: center;
  color: black;
}

.icon {
  display: inline-block;
  font-size: 2rem;
  color: black;
  font-weight: bold;
  animation: float infinite 4s ease-in-out;
}

.ri-facebook-circle-line {
  animation-delay: 0.5s; /*Adds a animation delay of 1 seconds.*/
}

.ri-whatsapp-line {
  animation-delay: 1s; /*Adds a animation delay of 2 seconds.*/
}

.cuerpoIndex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.subtiIndex {
  text-align: center;
}

.testimonios {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.boxIndex {
  background-color: #008B6F;
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  height: 300px;
  border: solid black;
  border-radius: 10px;
  margin: 50px 50px 50px 50px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  align-content: space-evenly;
  box-shadow: -25px -19px 48px 0px rgba(0, 0, 0, 0.43);
  -webkit-caja-sombra: -25px -19px 48px 0px rgba(0, 0, 0, 0.43);
  -moz-box-shadow: -25px -19px 48px 0px rgba(0, 0, 0, 0.43);
}

.boxIndex:hover {
  background-color: rgba(240, 248, 255, 0.644);
  width: 30%;
  opacity: 1;
  filter: contrast(100%);
}

.img {
  width: -moz-fit-content;
  width: fit-content;
  -o-object-fit: cover;
     object-fit: cover;
  border: radius 2px;
}

.subIndex {
  color: black;
  font-size: 1rem;
  font-weight: bold;
}

.cuerpoClases {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-evenly;
  align-items: center;
}

.clases {
  width: 55%;
  margin-top: 10px;
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .clases {
    width: 80%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
.galeria {
  width: 90%;
  margin: 0 auto;
  height: 85vh;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.5px solid gray;
}

.imagenGal {
  width: 0px;
  height: 100%;
  flex-grow: 2;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.5;
  transition: 0.5s ease;
}

.imagenGal:hover {
  width: 30%;
  opacity: 1;
  filter: contrast(120%);
}

.tituloGaleria {
  text-align: center;
  margin-top: 0 auto;
  color: black;
}

@media screen and (max-width: 768px) {
  .imagenGal {
    flex-wrap: wrap;
  }
  .imagenGal {
    height: 80%;
  }
  .imagenGal:hover {
    width: 70%;
  }
}
.bordeTitulo {
  text-align: center;
  border: hidden rgba(0, 0, 0, 0.479); /*hidden rgba(0, 0, 0, 0.479);*/
  background-color: rgba(250, 235, 215, 0.397);
  border-radius: 3px;
  box-shadow: -25px -19px 48px 0px rgba(0, 0, 0, 0.43);
  -webkit-caja-sombra: -25px -19px 48px 0px rgba(0, 0, 0, 0.43);
  -moz-box-shadow: -25px -19px 48px 0px rgba(0, 0, 0, 0.43);
}

.video {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.contacto {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-evenly;
  align-items: center;
}

.contactoCuerpo {
  font-weight: bold;
  text-align: justify;
  margin-top: 10px;
}

.colorForm {
  background-color: rgba(240, 248, 255, 0.644);
  border: solid rgba(128, 128, 128, 0.774); /*solid rgba(128, 128, 128, 0.774);*/
  border-radius: 5px;
  box-shadow: -25px -19px 48px 0px rgba(0, 0, 0, 0.43);
  -webkit-caja-sombra: -25px -19px 48px 0px rgba(0, 0, 0, 0.43);
  -moz-box-shadow: -25px -19px 48px 0px rgba(0, 0, 0, 0.43);
}

@keyframes float {
  0% {
    transform: translateY(0); /*The starting point of the animation is 0.*/
  }
  50% {
    transform: translateY(-1rem); /*The middle point of the animation is -15xp. This will move the element up.*/
  }
  100% {
    transform: translateY(0); /*The last point of the animation is going back to the starting state of 0.*/
  }
}
/*para las animaciones*//*# sourceMappingURL=estilos.css.map */